@model TochalTools.Models.ForgotPasswordViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/Content/Layouts/HomeLayout/assets/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="/Content/Layouts/HomeLayout/assets/images/favicon.png" />
    <title>وباسا - فراموشی کلمه عبور</title>

    <!-- latest jquery-->
    <script src="/Content/Layouts/AdminLayout/assets/scripts/jquery-3.3.1.min.js"></script>
    <script src="/Content/Layouts/AdminLayout/assets/scripts/jquery.validate.min.js"></script>
    <script src="/Content/Layouts/AdminLayout/assets/scripts/jquery.validate.unobtrusive.min.js"></script>

    <!--Google font-->
    <link href="/Content/Layouts/AdminLayout/assets/css/googleOpenSans.css" rel="stylesheet">
    <link href="/Content/Layouts/AdminLayout/assets/css/googleRaleway.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="/Content/Layouts/AdminLayout/assets/css/fontawesome.css">

    <!-- ico-font -->
    <link rel="stylesheet" type="text/css" href="/Content/Layouts/AdminLayout/assets/css/icofont.css">

    <!-- Themify icon -->
    <link rel="stylesheet" type="text/css" href="/Content/Layouts/AdminLayout/assets/css/themify.css">

    <!-- Flag icon -->
    <link rel="stylesheet" type="text/css" href="/Content/Layouts/AdminLayout/assets/css/flag-icon.css">

    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="/Content/Layouts/AdminLayout/assets/css/bootstrap.css">

    <!-- App css -->
    <link rel="stylesheet" type="text/css" href="/Content/Layouts/AdminLayout/assets/css/style.css">

    <!-- Responsive css -->
    <link rel="stylesheet" type="text/css" href="/Content/Layouts/AdminLayout/assets/css/responsive.css">

</head>
<body class="rtl">
    <div class="page-wrapper">
        <div class="container-fluid" style="padding-top:100px">
            <div class="row">
                <div class="col-sm-12 col-xl-12">
                    <div class="row">
                        <div class="col-sm-12">
                            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "theme-form" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="card">
                                    <div class="card-header">
                                        <h5>نام کاربری</h5>
                                        <span>نام کاربری را وارد نمایید.</span>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.Mobile, new { @class = "col-form-label pt-0" })
                                                    @Html.ValidationMessageFor(m => m.Mobile, "", new { @class = "text-danger" })
                                                    @Html.EditorFor(m => m.Mobile, new { htmlAttributes = new { @class = "form-control input-air-primary" } })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-div">
                                    <button type="submit" class="btn btn-success">تایید</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap js-->
    <script src="/Content/Layouts/AdminLayout/assets/js/bootstrap/popper.min.js"></script>
    <script src="/Content/Layouts/AdminLayout/assets/js/bootstrap/bootstrap.js"></script>

    <!-- Sidebar jquery-->
    <script src="/Content/Layouts/AdminLayout/assets/js/sidebar-menu.js"></script>

    <!-- Theme js-->
    <script src="/Content/Layouts/AdminLayout/assets/js/script.js"></script>
</body>
</html>
