@model CityListPageViewModel
@{
    ViewBag.Title = "لیست شهرهای " + Model.StateName;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <h3>
                    @ViewBag.Title
                    <small>لیست شهرهای ثبت شده</small>
                </h3>
            </div>
            <div class="col-lg-6">
                <a href="/Address/StateList/@ViewBag.CountryId" class="btn btn-primary btn-link"><i class="icon-arrow-right"></i></a>
                <a href="/Address/CreateCity/@ViewBag.StateId/@ViewBag.CountryId" class="btn btn-secondary btn-link">شهر جدید</a>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->

<div class="container-fluid">
    <div class="row">
        <!--Zero Configuration  Starts -->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="basic-1" class="display dataTable cell-border">
                            <thead>
                                <tr>
                                    <th>نام شهر</th>
                                    <th>مدیریت</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model.Cities)
                                {
                                    <tr id="city-@item.Id">
                                        <td>@item.Name</td>
                                        <td>
                                            <a href="/Address/EditCity/@item.Id/@ViewBag.CountryId" class="btn btn-success btn-datatable">ویرایش</a>
                                            <button type="button" onclick="deleteCity('@item.Id', 'شهر')" class="btn btn-danger btn-datatable">حذف</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--Zero Configuration  Ends -->
    </div>
</div>
@section bottomScripts {
    <script src="/Content/Layouts/AdminLayout/assets/js/pages/address-list.js"></script>
}

