<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="universal admin is super flexible, powerful, clean & modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, universal admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="pixelstrap">
    <link rel="icon" href="/Content/Layouts/AdminLayout/assets/images/favicon.png" type="image/x-icon" />
    <link rel="shortcut icon" href="/Content/Layouts/AdminLayout/assets/images/favicon.png" type="image/x-icon" />
    <title>وباسا - @ViewBag.Title</title>

    <!--Google font-->
    <link href="/Content/Layouts/AdminLayout/assets/css/googleOpenSans.css" rel="stylesheet">
    <link href="/Content/Layouts/AdminLayout/assets/css/googleRaleway.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="/Content/Layouts/AdminLayout/assets/css/fontawesome.css">

    <!-- ico-font -->
    <link rel="stylesheet" type="text/css" href="/Content/Layouts/AdminLayout/assets/css/icofont.css">

    <!-- Themify icon -->
    <link rel="stylesheet" type="text/css" href="/Content/Layouts/AdminLayout/assets/css/themify.css">

    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="/Content/Layouts/AdminLayout/assets/css/bootstrap.css">

    <!-- App css -->
    <link rel="stylesheet" type="text/css" href="/Content/Layouts/AdminLayout/assets/css/style.css">

    <!-- Responsive css -->
    <link rel="stylesheet" type="text/css" href="/Content/Layouts/AdminLayout/assets/css/responsive.css">

</head>
<body class="rtl">

    <!-- Loader starts -->
    <div class="loader-wrapper">
        <div class="loader bg-white">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>
    <!-- Loader ends -->
    @RenderBody()
    <!-- latest jquery-->
    <script src="/Scripts/jquery-3.3.1.min.js"></script>
    <script src="/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="/Scripts/jquery.validate.min.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="/Scripts/modernizr-2.8.3.js"></script>

    <!-- Bootstrap js-->
    <script src="/Content/Layouts/AdminLayout/assets/js/bootstrap/popper.min.js"></script>
    <script src="/Content/Layouts/AdminLayout/assets/js/bootstrap/bootstrap.js"></script>

    <!-- Theme js-->
    <script src="/Content/Layouts/AdminLayout/assets/js/script.js"></script>

</body>
</html>
