@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = null;
}
<html>
<head>
    <title>خطا</title>
</head>
<body dir="rtl">
    <center>
        <h1 style="color:red">خطا</h1>
        <h2 style="color:red">متاسفانه درخواست شما با خطلا مواجه شد، لطفا دوباره سعی نمایید.</h2>
        <h3>
            <a href="/">صفحه نخست</a>
        </h3>
    </center>
</body>
</html>


