@model PageDetailsViewModel
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Keywords = Model.OptimizationKeywords;
    ViewBag.Description = Model.OptimizationDescription;
}

<!-- inner page banner -->
<div class="dez-bnr-inr overlay-black-middle" style="background-image:url(/Content/Images/Page/@(Model.Id).jpg);">
    <div class="container">
        <div class="dez-bnr-inr-entry">
            <h1 class="text-white">@Model.Title</h1>
        </div>
    </div>
</div>
<!-- inner page banner END -->
<!-- Breadcrumb row -->
<div class="breadcrumb-row">
    <div class="container">
        <ul class="list-inline">
            <li><a href="/">صفحه نخست</a></li>
            <li>@Model.Title</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb row END -->
<!-- contact area -->
<div class="clearfix">
    <!-- About Company -->
    <div class="section-full content-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-head text-left">
                        <h2 class="text-uppercase">@Model.Title</h2>
                        <div class="aon-separator bg-primary"></div>
                        <p style="text-align:justify">
                            @Html.Raw(HttpUtility.HtmlDecode(Model.Content))
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Company END -->
</div>

